@use '../../sharedStyles/colors' as colors;
@use '../../sharedStyles/borders' as borders;
@use '../../sharedStyles/indents' as indents;

.Modal {
  &Wrapper {
    position: fixed;
    inset: 0;
    background: colors.$main-color-2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &.Opened {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &Content {
    background: colors.$main-color-3;
    border-radius: borders.$l;
    width: 100%;
    max-width: 520px;
    padding: indents.$xl;
    box-shadow: 0 10px 30px colors.$main-color-4;
    transform: translateY(20px) scale(0.95);
    transition: transform 0.25s ease;
    z-index: 101;

    .Opened & {
      transform: translateY(0) scale(1);
    }
  }

  &CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
