@use '../../sharedStyles/colors' as colors;
@use '../../sharedStyles/fonts' as fonts;

.Text {
  &.Main {
    color: colors.$main-color-5;
  }

  &.White {
    color: colors.$white-color;
  }

  &.Dark {
    color: colors.$main-color-1;
  }

  &.Accent {
    color: colors.$second-color-5;
  }

  &.H1 {
    font-size: fonts.$size-h3;
    font-weight: fonts.$weight-l;
  }
}
