@use '../../../../sharedStyles/indents' as indents;

.SignInModal {
  &Content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: indents.$xl;
  }

  &Buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}
