@use '../../sharedStyles/colors' as colors;
@use '../../sharedStyles/indents' as indents;

.HeaderWrapper {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: indents.$m indents.$m-vw;
  background-color: colors.$main-color-1-20;
  transition: background-color 0.3s ease;

  &.Scrolled {
    background-color: colors.$main-color-1;
  }
}
