$godfather-dark-1: #15110f;
$godfather-dark-1-40: rgb(21, 17, 15, 0.4);
$godfather-dark-2: #2a221d;
$godfather-dark-3: #3f342c;
$godfather-dark-4: #54453a;

$godfather-light-1: #edcfba;
$godfather-light-2: #f1dbcb;
$godfather-light-3: #f6e7dc;
$godfather-light-4: #faf3ee;

$godfather-acent-1: #aa4839;
$godfather-acent-2: #b86141;
$godfather-acent-3: #e6bda0;
$godfather-acent-4: #b0523c;

$godfather-muted-1: #1a1427;
$godfather-muted-2: #4f3c54;
$godfather-muted-3: #524c4e;
$godfather-muted-4: #8c847c;

$godfather-opposite-1: #19425f;
$godfather-opposite-2: #479ebe;
$godfather-opposite-3: #55b7c6;
$godfather-opposite-4: #b0c3ab;

$godfather-orange-1: #ff7700;
$godfather-orange-2: #ff9335;
$godfather-orange-3: #ffa85c;
$godfather-orange-4: #ffc796;
