$main-color-1: #024c68;
$main-color-1-20: rgba(2, 77, 104, 0.2);
$main-color-2: #226078;
$main-color-3: #0776a0;
$main-color-4: #3aa6d0;
$main-color-5: #62b1d0;
$main-color-6: #c1dbe6;
$main-color-7: #e7f1f5;

$second-color-1: #071871;
$second-color-2: #2d3b83;
$second-color-3: #162eae;
$second-color-4: #4a60d7;
$second-color-5: #7080d7;

$accent-color-1: #00782d;
$accent-color-2: #238b49;
$accent-color-2-60: rgba(35, 139, 73, .6);
$accent-color-3: #00b945;
$accent-color-4: #37dc74;
$accent-color-5: #63dc90;

$white-color: #ffffff;
$black-color: #000000;
