$size-ss: 10px;
$size-s: 12px;
$size-m: 14px;
$size-l: 16px;
$size-xl: 18px;

$size-h1: 20px;
$size-h2: 24px;
$size-h3: 28px;
$size-h4: 32px;
$size-h5: 36px;

$weight-ss: 300;
$weight-s: 400;
$weight-m: 500;
$weight-l: 600;
$weight-xl: 800;
